//variables
@import '../_variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: $bg;
}

//imports
@import './_form';