* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#bg {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #222222;
}

.form-wrapper {
  height: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-wrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(36, 36, 36, 0.9);
  border: 0.2rem solid #292929;
  height: 30rem;
  width: 40rem;
  font-family: 'Roboto', sans-serif;
}

.form-wrapper form h1 {
  color: white;
  letter-spacing: .5rem;
}

.form-wrapper form .inputs {
  color: rgba(97, 97, 97, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: .1rem;
  font-weight: 300;
}

.form-wrapper form .inputs .name-input {
  background-color: #222222;
  color: white;
  outline: none;
  border: 0.2rem solid rgba(39, 39, 39, 0.5);
  height: 3rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
  letter-spacing: .1rem;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.form-wrapper form .inputs .name-input:hover {
  background-color: #1b1b1b;
  border: 0.2rem solid white;
}

.form-wrapper form .inputs .name-input:focus {
  background-color: #1b1b1b;
}

.form-wrapper form .inputs .rooms {
  background-color: #222222;
  color: white;
  outline: none;
  border: 0.2rem solid rgba(39, 39, 39, 0.5);
  height: 3rem;
  width: 20rem;
  margin-top: 1rem;
  margin-left: 1rem;
  letter-spacing: .1rem;
  text-align: center;
  -webkit-transition: .2s;
  transition: .2s;
}

.form-wrapper form .inputs .rooms:hover {
  background-color: #1b1b1b;
  border: 0.2rem solid white;
}

.form-wrapper form .inputs .rooms:focus {
  background-color: #1b1b1b;
}

.form-wrapper form .form-buttons {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.form-wrapper form .form-buttons .join-room, .form-wrapper form .form-buttons .create-room {
  cursor: pointer;
  background-color: #242424;
  outline: none;
  border: 0.2rem solid rgba(94, 94, 94, 0.5);
  color: rgba(121, 121, 121, 0.5);
  padding: 1rem;
  font-weight: 300;
  font-size: 1rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-wrapper form .form-buttons .join-room:hover, .form-wrapper form .form-buttons .create-room:hover {
  color: white;
  border: 0.2rem solid white;
}

@media only screen and (max-width: 733px) {
  .form-wrapper {
    margin-left: 2em;
    margin-right: 2em;
    height: 35em;
  }
  .form-wrapper form {
    width: 40em;
    height: 30em;
    margin-left: 2em;
    margin-right: 2em;
    border: 0.2em solid #292929;
  }
  .form-wrapper form h1 {
    letter-spacing: .2em;
    text-align: center;
  }
  .form-wrapper form .inputs {
    text-align: center;
    letter-spacing: .1em;
  }
  .form-wrapper form .inputs p {
    margin-top: 1em;
  }
  .form-wrapper form .inputs .name-input {
    height: 3em;
    width: 20em;
    margin-top: 1em;
    margin-right: 1em;
    border: 0.2em solid rgba(39, 39, 39, 0.5);
    letter-spacing: .1em;
  }
  .form-wrapper form .inputs .name-input:hover {
    border: 0.2em solid white;
  }
  .form-wrapper form .inputs .rooms {
    height: 3em;
    width: 20em;
    margin-top: 1em;
    margin-right: 1em;
    letter-spacing: .1em;
  }
  .form-wrapper form .inputs .rooms:hover {
    border: 0.2em solid white;
  }
  .form-wrapper form .form-buttons .join-room, .form-wrapper form .form-buttons .create-room {
    border: 0.2em solid rgba(94, 94, 94, 0.5);
    padding: 1em;
    font-size: 1em;
  }
  .form-wrapper form .form-buttons .join-room:hover, .form-wrapper form .form-buttons .create-room:hover {
    border: 0.2em solid white;
  }
}

@media only screen and (max-width: 733px) {
  .chat-wrapper {
    position: relative;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .chat-wrapper .chat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(36, 36, 36, 0.9);
    border-bottom: 0.2em solid #292929;
    height: 100%;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
  }
  .chat-wrapper .chat .header {
    height: 3em;
    width: 100%;
  }
  .chat-wrapper .chat .header h3 {
    margin-left: 1em;
  }
  .chat-wrapper .chat .output {
    width: 100%;
    height: 90vh;
    border: none;
  }
  .chat-wrapper .chat .output .message {
    margin-left: 2em;
    margin-top: 2em;
    font-size: .9em;
  }
  .chat-wrapper .chat .output .message p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .chat-wrapper .chat .user-board {
    width: 100%;
    bottom: 0;
    position: fixed;
    border-top: 0.2em solid #292929;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .chat-wrapper .chat .user-board .message-board {
    margin-top: 1em;
  }
  .chat-wrapper .chat .user-board .message-board .message-input {
    height: 4.75em;
    width: 14em;
    margin-left: 1em;
    border: 0.2em solid rgba(94, 94, 94, 0.5);
  }
  .chat-wrapper .chat .user-board .message-board .message-input:hover {
    border: 0.2em solid white;
  }
  .chat-wrapper .chat .user-board .message-board .send-message {
    font-size: .8em;
    padding: 1.9em;
    margin-left: .5em;
    border: 0.2em solid rgba(94, 94, 94, 0.5);
  }
  .chat-wrapper .chat .user-board .message-board .send-message:hover {
    border: 0.2em solid white;
  }
  .chat-wrapper .chat .user-board .leave-room {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */