//backgrounds
$bg: rgb(34, 34, 34);

//form
$form-bg: rgba(36, 36, 36, .9);
$form-border: rgb(41, 41, 41);


//form input
$input-color: rgba(97, 97, 97, 0.5);
$input-bg: rgb(34, 34, 34);
$input-border: rgba(39, 39, 39, .5);
    //form input hover
    $input-border-hover: white;
    $input-bg-hover: rgb(27, 27, 27);
    $input-bg-focus: rgb(27, 27, 27);


//form-buttons
$btn-border: rgb(44, 44, 44);
$btn-bg: rgb(34, 34, 34);
$btn-color: rgba(75, 75, 75, 0.5);
    //form-buttons hover
    $btn-color-hover: white;
    $btn-border-hover: white;

